@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Varela Round", sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 12vh;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menu li a {
  font-size: 22px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}
.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1s;
          animation: line 1s;
}
.menu li:hover a {
  color: #d94f5c;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #121212; /* fallback for old browsers */
  overflow-x: hidden;

  height: 100%;

  /* code to make all text unselectable */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Disables selector ring */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* ########################################################## */

h1 {
  color: white;

  font-size: 35px;
  font-weight: 800;
}

.flex-container {
  width: 100vw;

  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 500px;
  height: 350px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 350px;

  margin-top: 5px;
  padding-top: 20px;

  border-radius: 12px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

.subtitle {
  font-size: 11px;

  color: rgba(177, 177, 177, 0.3);
}

input {
  border: none;
  border-bottom: solid rgb(143, 143, 143) 1px;

  margin-bottom: 30px;

  background: none;
  color: rgba(255, 255, 255, 0.555);

  height: 35px;
  width: 300px;
}

.submit-btn {
  cursor: pointer;

  border: none;
  border-radius: 8px;

  box-shadow: 2px 2px 7px #38d39f70;

  background: #38d39f;
  color: rgba(255, 255, 255, 0.8);

  width: 80px;

  transition: all 1s;
}

.submit-btn:hover {
  color: rgb(255, 255, 255);

  box-shadow: none;
}


.ab {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.form-container2 {

    justify-content: center;
  align-items: center;

  width: 500px;
  height: 425px;

  margin-top: 5px;
  padding-top: 20px;

  border-radius: 12px;

  display: flex;
  flex-direction: column;

  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}


.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #1f1f1f;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #1f1f1f;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-work p{
    font-size: 12px;
    color: #1f1f1f;
    font-weight: 600;
    margin-top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-work a{
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 600;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-work ul{
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-tab label{
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-tab p{
    font-weight: 600;
    color: #1f1f1f;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.fnt-like {
    font-weight: 600;
    color: green;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.fnt-dislike {
    font-weight: 600;
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.like-btn body{
  margin: 40px;
}

.like-btn button{
  cursor: pointer;
  outline: 0;
  color: #AAA;

}

.like-btn:focus {
  outline: none;
}

.like-btn .green{
  color: green;
}

.like-btn .red{
  color: red;
}


.container {
	margin: 50px auto;
	max-width: 500px;
}


body {
    background-color: #1f1f1f;

}

.bdge {
  height: 21px;
  background-color: orange;
  color: white;
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px;

}

.comments {
  width: 10vh;
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: #1f1f1f;
  border-radius: 50%;
  display: inline-block;
}

.hit-voting:hover {
  color: blue;
}

.hit-voting {
  cursor: pointer;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

.flex1-container {
  width: 100vw;

  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content1-container {
  width: 50vw;
  height: 40vw;
}

.form1-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50vw;
  height: 40vw;

  margin-top: 5px;
  padding-top: 20px;

  border-radius: 12px;
    flex-direction: column;

  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}
.flex2-container {
  width: 20vw;
  margin-top: 60px;
  display: grid;
  align-items: center;
    position: fixed;
    overflow: scroll;
}

.content2-container {
  width: 10vw;
  height: 100vw;
    position: fixed;
}

.form2-container {
  display: flex;

  width: 20vw;
  height: 100vw;

  margin-top: 5px;
  padding-top: 20px;

  border-radius: 12px;
    position: -webkit-sticky;
  position: sticky;
  justify-content: center;
  flex-direction: column;

  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}






.flex3-container {
  width: 100vw;

  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content3-container {
  width: 100vw;
  height: 10vw;
}

.form3-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40vw;
  height: 10vw;

  margin-top: 5px;
  padding-top: 20px;

  border-radius: 12px;
  flex-direction: column;

  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}


.editContent{
    display: inline-block;
}

.checked {
}